@{
    ViewData["Title"] = "Home Page";
    }

    <div class="mycontainer"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Press+Start+2P&family=Raleway:wght@200&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="css/index.css">  
        <h1> Transcriber </h1>
      <p> is a speech-to-text solution that provides real-time or asynchronous transcription of any conversation. This Microsoft product, which is currently in preview, combines speech recognition, speaker identification, and sentence attribution to determine who said what, and when, in a conversation. </p>
      <a href="/Search" class="more"> <span>Search YouTube<span></a>
    </div>




